.btn {
  border: none;
  background-color: $soft-blue;
  color: white;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(83, 104, 223, 0.2);
}

.btn:hover {
  color: $soft-blue;
  box-shadow: 0 0 0 2px $soft-blue inset;
  background-color: transparent;
}

.btn--top-margin {
  margin-top: 50px;
}

.btn--grey {
  background-color: hsl(229, 8%, 60%, 0.1);
  color: $grayish-blue;
  box-shadow: 0px 2px 5px 0px rgba(83, 104, 223, 0.2);
  margin-left: 20px;
}

.btn--grey:hover {
  color: $grayish-blue;
  box-shadow: 0 0 0 2px $grayish-blue inset;
  background-color: transparent;
}

.btn--red {
  background-color: $soft-red;
}

.btn--red:hover {
  color: $soft-red;
  box-shadow: 0 0 0 2px $soft-red inset;
  background-color: white;
}

.btn--wide {
  width: 100%;
}

.btn--border {
  text-transform: uppercase;
  border: white solid 2px;
  background-color: transparent;
}

@include screen-s {
  .btn--red {
    min-width: 120px;
  }
}

@include screen-l {
  .btn--wide {
    width: auto;
  }

  .btn--border {
    text-transform: uppercase;
    border: none;
    background-color: $soft-red;
    min-width: 110px;
  }

  .btn--border:hover {
    color: $soft-red;
    box-shadow: 0 0 0 2px $soft-red inset;
    background-color: white;
  }
}
