.header {
  &__logo {
    position: relative;
    top: 40px;
    left: 30px;
    z-index: -1;
  }
}

@include screen-l {
  .header {
    max-width: 1110px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      position: unset;
    }
  }
}
