.menu-container {
  position: absolute;
  top: 40px;
  right: 30px;
}

.toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  width: 18px;
  height: 15px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 38px;
  height: 35px;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  & > div::before,
  & > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -6px;
    width: 100%;
    height: 3px;
    background: inherit;
  }

  & > div::after {
    top: 6px;
  }
}

.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  background-color: white;
}

.toggler:checked + .hamburger {
  background: transparent;
}

.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.toggler:checked ~ .menu-nav {
  visibility: visible;
}

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & div {
    background-color: $dark-blue;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    transform: all 0.4s ease;
  }

  & .logo-nav {
    position: fixed;
    top: 40px;
    left: 30px;
    z-index: 2;
  }
}

.nav {
  padding: 105px 30px 40px;
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
  }

  &__item {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item--last {
    border-bottom: 1px solid white;
    margin-bottom: 24px;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  &__icon {
    align-self: flex-end;
    margin: 0 20px;
  }
}
