.section {
  text-align: center;

  &__background {
    margin: 0;
    position: relative;
    z-index: -1;
  }

  &__color,
  &__color--left {
    position: absolute;
    z-index: -2;
    right: -30px;
    top: 90px;
    height: 200px;
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: $soft-blue;
  }

  &__color--left {
    top: 35px;
    left: -30px;
    border-radius: 0 100px 100px 0;
  }

  &__img {
    width: 100%;
    margin-top: 40px;
  }

  &__title,
  &__title--large {
    margin-top: 110px;
    color: $dark-blue;
    font-weight: 500;
    line-height: 1.4;
  }

  &__title--large {
    margin-top: 100px;
    font-size: 30px;
  }

  &__p {
    padding: 0 16px;
    margin: 16px 0 32px;
    line-height: 1.7;
    color: $grayish-blue;
    font-weight: 400;
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
}
