.section {
  text-align: center;

  &__background {
    margin: 0;
    position: relative;
    z-index: -1;
  }

  &__color,
  &__color--left {
    position: absolute;
    z-index: -2;
    right: -30px;
    top: 90px;
    height: 200px;
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: $soft-blue;
  }

  &__color--left {
    top: 35px;
    left: -30px;
    border-radius: 0 100px 100px 0;
  }

  &__img {
    width: 100%;
    margin-top: 40px;
  }

  &__title,
  &__title--large {
    margin-top: 110px;
    color: $dark-blue;
    font-weight: 500;
    line-height: 1.4;
  }

  &__title--large {
    margin-top: 100px;
    font-size: 30px;
  }

  &__p {
    padding: 0 16px;
    line-height: 1.7;
    color: $grayish-blue;
    font-weight: 400;
    max-width: 530px;
    margin: 16px auto 32px;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
}

.section-faq {
  max-width: 530px;
  margin: auto;
}

@include screen-m {
  .section {
    max-width: 800px;
    margin: auto;

    &__img {
      height: 400px;
      width: auto;
    }

    &__color,
    &__color--left {
      top: 200px;
      height: 300px;
      width: 70%;
      border-top-left-radius: 175px;
      border-bottom-left-radius: 175px;
    }

    &__color--left {
      width: 80%;
      top: 80px;
      border-radius: 0 175px 175px 0;
    }
  }

  .section-faq {
    max-width: 530px;
    margin: auto;
  }
}

@include screen-l {
  .section {
    max-width: 1444px;
    margin: auto;

    &__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    &__description {
      margin-left: 130px;
      max-width: 500px;
      text-align: left;
      margin-right: 100px;
    }

    &__img {
      height: 400px;
      width: auto;
    }

    &__title {
      margin-top: 190px;
      font-size: 2em;
    }

    &__title--large {
      font-size: 3.2em;
    }

    &__color,
    &__color--left {
      top: 200px;
      height: 350px;
      width: 38%;
      border-top-left-radius: 175px;
      border-bottom-left-radius: 175px;
    }

    &__color--left {
      width: 45%;
      top: 80px;
      border-radius: 0 175px 175px 0;
    }

    &__p {
      padding: 0;
      font-size: 1.2em;
    }

    &__btn-container {
      justify-content: left;
    }
  }

  .section-faq {
    max-width: 530px;
    margin: auto;
  }
}
