.tab {
  &__img {
    width: 100%;
  }

  &__title {
    margin-top: 80px;
    color: $dark-blue;
    font-weight: 500;
    line-height: 1.4;
  }

  &__p {
    margin: 16px 0 32px;
    line-height: 1.7;
    color: $grayish-blue;
    font-weight: 400;
  }

  &__btn {
    display: none;
  }

  display: none;
}

.tab--active {
  display: block;
}

.tab-list {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  color: $grayish-blue;

  &__item {
    position: relative;
    cursor: pointer;
    padding: 20px;
    border-top: 1px solid $grayish-blue;
  }

  &__item--last {
    border-bottom: 1px solid $grayish-blue;
    margin-bottom: 70px;
  }

  &__item--active {
    color: $dark-blue;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      height: 4px;
      width: 140px;
      background: $soft-red;
    }
  }
}

@include screen-l {
  .tab {
    max-width: 1444px;
    margin: auto;
    margin-top: 75px;

    &__title {
      margin-top: 70px;
      font-size: 2em;
    }

    &__p {
      font-size: 1.2em;
      max-width: 430px;
    }
    &__btn {
      display: block;
    }

    &__img {
      width: auto;
      height: 400px;
    }

    &__description {
      text-align: left;
      margin-left: 120px;
    }

    &__container {
      display: flex;
      justify-content: center;
      min-height: 350px;
    }
  }

  .tab-list {
    display: flex;
    justify-content: center;

    &__item {
      min-width: 240px;
      padding: 30px;
      border-top: none;
      border-bottom: 1px solid $grayish-blue;
    }

    &__item--last {
      margin-bottom: 0;
    }

    &__item--active {
      &::after {
        width: 240px;
      }
    }

    &__item:hover {
      color: $soft-red;
    }
  }
}
